@import url("https://fonts.googleapis.com/css?family=Roboto");
body{
    font-family: "Roboto", sans-serif;
}

h1{
 color: blue;
 display: flex;
 justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

.card{
    max-width: 300px;
    min-height: 250px;
    background-color: aquamarine;
    box-sizing: border-box;
    color:#fff;
    padding: 30px;
    margin:20px;   
}

.card_image img{
    width: 100%;
}

.card:nth-child(2){
    background-color: blanchedalmond;
}

.card_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like{
    background-color: gold;
    color:blue;
    border:none;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-8px);
}